[submodule "SourceKitten"]
	path = SourceKitten
	url = https://github.com/rastersize/SourceKitten.git
[submodule "spec/integration_specs"]
	path = spec/integration_specs
	url = https://github.com/Realm/jazzy-integration-specs.git
